# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
.default_env/
ENV/

# Streamlit
.streamlit/secrets.toml

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
